# Arquivo de configurações do CRON PLD para Consulta de Documentos na CAF.

## Enviorment Mode:
# 1 para Dev, 0 para Homologação
IS_DEVMODE=""

## Database acess:
# Database homologação
DEV_DB_HOST=""
DEV_DB_PORT=""
DEV_DB_USER=""
DEV_DB_PASSWORD=""
DEV_DB_NAME=""

# Database desenvolvimento
DB_HOST=""
DB_PORT=""
DB_USER=""
DB_PASSWORD=""
DB_NAME=""


## Logger settings:
# Greylog
LOGGER_NAME=""
MONOLOG_HOST=""
MONOLOG_PORT=""
MONOLOG_FACILITY=""



### Homologation enviroment

# External homologation API access:
DEV_URL_BASE="https://api.beta.combateafraude.com"
DEV_ACCESS_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2MTRhMmY4MDljZTg2YzAwMDk5YjQ5NzYiLCJpYXQiOjE2MzIyNTE3NzZ9.mRBknVQScbZVIiOFqntnPzzsKYQc-EQqgYw857FmAlE"

# REPORT IDS:
DEV_REPORT_ID_CPF_BASIC="60f6d88f369300000814c5f8"
DEV_REPORT_ID_CNPJ="60c8bad108587e0008f9135e"
DEV_REPORT_ID_CPF_COMPLETE="6101b407cf880400082d5839"
DEV_REPORT_ID_BC="60c8b987bc28a9000881dfbc"
DEV_REPORT_ID_KYC="60f1c1c40eec7b0008fba17b"


### Production enviroment

# External production API access:
URL_BASE="https://api.combateafraude.com"
ACCESS_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2MTAwMjFmYTUxZTYwZTAwMDk1NjdiMmYiLCJpYXQiOjE2MjczOTg2NTB9.ZIp5L2ee-5lSMoVzeNryPbxP4jNd3wlEMLN_T00_1i0"

# REPORT IDS:
REPORT_ID_CPF_BASIC="60f6d54a0b60bb00088b10ba"
REPORT_ID_CNPJ="60c8bad108587e0008f9135e"
REPORT_ID_CPF_COMPLETE="6101b407cf880400082d5839"
REPORT_ID_BC="60c8b987bc28a9000881dfbc"
REPORT_ID_KYC="60f1c1c40eec7b0008fba17b"